@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}
a img {
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* column ordered Flex layout, elements stacked top 2 bottom */
#maincontent {
  background-color: #f3f3f3;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #444;
  color: #bbb;
  font-size: 12pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
	padding: 25px;
}
nav h1 a {
  color: #fff;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 18px;
		width: 100%;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
	display: flex;
	flex-direction: row;
  background-color: #3397DB;
  align-items: center;
	padding: 15px 0;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
	text-transform: uppercase;
  line-height: 1;
	padding: 12px 0;
  margin: 0 20px;
}
.filter-options select {
	width: 240px;
	height: 40px;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  letter-spacing: 1px;
  padding: 0 10px;
	border: 1px solid #fff;
	margin: 10px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
	justify-content: center; //so, to center the last of the content element
  padding: 30px 15px 60px;
	margin: 0;
}
}
#restaurants-list li {
	min-width: 270px;
	max-width: 310px;
  background-color: #fff;
	font-family: Arial,sans-serif;
  padding: 0 0 25px;
	border: 2px solid #ccc;
  margin: 15px;
}
@media only screen and (max-width: 500px) {
	.filter-options{
		flex-direction: column;
	}
}
@media only screen and (min-width: 714px) {
	#restaurants-list li {
		max-width: 45%;
	}
}
@media only screen and(min-width: 1032px) {
	#restaurants-list li {
		max-width: 300px;
	}
}

#restaurants-list li h1 {
	background: #0f0f0f;
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
	text-transform: uppercase;
  line-height: 1.2;
	padding: 20px 0 10px;
  margin: 20px 0 10px;
}

#restaurants-list .restaurant-img {
	display: block;
  background-color: #ccc;
  max-width: 100%;
  min-width: 100%;
	margin: 0;
}

#restaurants-list p {
  margin: 0;
  font-size: 12pt;
}

#restaurants-list li a {
	display: inline-block;
	color: #fff;
  background-color: orange;
  font-size: 12pt;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	letter-spacing: 3px;
	padding: 15px;
	border-bottom: 12px solid #eee;
	margin: 15px;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 40%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 21pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container,
#reviews-container {
	width: 45%;
	display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
}

#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
	width: 80%;
	display: block;
	position: relative;
	overflow: hidden;
	list-style-type: none;
  background-color: #fff;
  padding: 0 20px 20px;
	border: 2px solid #f3f3f3;
	margin: 0 0 30px;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
